headerbar { background: @theme_bg_color; border-bottom-width: 0; }

#color_preview {
  min-width: 150px;
  min-height: 150px;
  outline: 0;
}

#color_preview > box {
  margin: 6px;
  background: darkcyan;
  border-radius: 50%;
  transition: .1s all ease-in-out;
}

#color_preview:hover > box {
  background: shade(darkcyan, 0.9);
}

#color_preview:active > box {
  background: shade(darkcyan, 0.8);
}

button.color-button {
  padding: 0;
  min-height: 40px;
  border: 0;
  box-shadow: none;
}

box button.color-button:first-child box {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

box button.color-button:last-child box {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
